/**
 * -----------------------------------------------------------------------
 * Estilos de layout do projeto.
 * -----------------------------------------------------------------------
 *
 * Esse arquivo contém os estilos de layout do projeto.
 *
 * @author Ronaldo Stiene <ronaldo.stiene@outlook.com>
 * @since 18/02/2020
 */

/*************************************\
|*              Títulos              *|
\*************************************/

.cc-title-font {
    font-family: 'Tomorrow', sans-serif;
    font-weight: bold;
}
.cc-subtitle-font {
    font-family: 'Tomorrow', sans-serif;
}


/*************************************\
|*            Background             *|
\*************************************/

.cc-bg-primary {
    background-color: #175078!important;
}
.cc-bg-light {
    background-color: #e8ebee!important;
}


/*************************************\
|*              Bordas               *|
\*************************************/

.cc-border-light {
    border-color: #cdd3d9!important;
}


/*************************************\
|*        Botões Preenchidos         *|
\*************************************/

.cc-btn-primary {
    background-color: #175078!important;
    border-color: #175078;
    color: #ffffff!important;
}
.cc-btn-primary:hover {
    background-color: #144466!important;
    border-color: #144466;
    color: #ffffff!important;
}
.cc-btn-primary:active {
    background-color: #103752!important;
    border-color: #103752;
    color: #ffffff!important;
}


/*************************************\
|*       Botões Transparentes        *|
\*************************************/

.cc-btn-outline-primary {
    background-color: transparent!important;
    border-color: #175078;
    color: #175078!important;
}
.cc-btn-outline-primary:hover {
    background-color: #175078!important;
    border-color: #175078;
    color: #ffffff!important;
}
.cc-btn-outline-primary:active {
    background-color: #103752!important;
    border-color: #103752;
    color: #ffffff!important;
}